nav {
    background: var(--color-bg-variant);
    width: max-content;
    display: block;
    /* top bottom */
    padding: 0.7rem 1.7rem;
    /* display order to avoid overlap */
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    /* icons gap */
    gap: 0.8rem;
    /* rounding the edges */
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    /* icons */
    color: var(--color-light);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    /* icon background */
    background: var(--color-primary);
    /* icon innard */
    color: var(--color-bg);
}

/* =========================== MEDIA QUERIES (SMALL DEVICES)=========================== */
@media screen and (max-width: 600px) {
    nav {
        display: none;
    }
}